.main-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 900px;
    padding-top: 40px;
    align-items: flex-start;
}

.top-container_ {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    padding-top: 10px;
}

.left-top-container {
    display: flex;
    width: 600px;
    object-fit: cover;
}

.big-image {
    width: 600px;
    height: 360px;
    border-radius: 20px;
}

.right-top-container {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.middle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 66px;
    padding: 0px 0px 0px 500px;
    border-bottom: 0.5px solid grey;
    border-top: 0.5px solid grey;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    background-color: rgba(247, 247, 247, 0.486);
}

.bottom-left-container {
    display: flex;
    flex-direction: column;
    width: 580px;
    font-size: 20px;
    object-fit: cover;
    text-align: start;
    padding-right: 20px;
}

.bottom-right-container {
    font-size: 20px;
    font-weight: 500;
}

.name {
    display: flex;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
}

.location {
    font-size: 14px;
}

.organizer {
    font-size: 14px
}

.members-public {
    font-size: 14px;
}

.button {
    display: inline-block;
    background-color: #f65858;
    color: white;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    text-align: center;
}

.button:hover {
    background-color: #f77070;
}

.button-container {
    padding-left: 10px;
}

.notice {
    font-size: 16px;
    font-style: italic;
}

.place-holder-group-img{
    width: 600px;
    height: 360px;
    border-radius: 20px;
    background-color: #ddd;
}
