.mainDiv {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    box-sizing: content-box;
    align-items: center;
}

.container {
    display: flex;
    margin: auto;
    padding: 50px 0px 0px 0px;
    flex-direction: column;
    align-items: center;
    max-width: 1120px;
}

.detailMessage {
    font-size: 16px;
    text-align: left;
}

.topDiv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.bottomText {
    font-size: 30px;
    font-weight: bold;
}

.bottomText2 {
    font-size: 16px
}

.middleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.bottomDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1120px;
    padding: 60px;
}

.middleTextContainer {
    display: flex;
    justify-content: column;
    flex-direction: column;
    align-items: center;
}

.groups {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: center;
}

.events {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: center;
}

.createGroup {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: center;
}

.mainMessage {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    line-height: 2em;
    padding: 0px 0px 0px 0px;
    text-align: left;
}

.mainImage {
    display: flex;
    align-items: center;
}

.leftMessage {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    margin: 0px 40px 0px 0px;
}

.mainImageCard {
    align-items: center;
}

.imageCard {
    display: flex;
    width: 520px;
    height: 232px;
}

.subHeading {
    display: flex;
    color: #008294;
    font-weight: 700;
    font-size: 20px;
}

.miniText {
    font-size: 16px;
    text-align: center;
}
.link{
    text-decoration-line: none;
}


.link:hover{
  border-bottom: 1px #008294;
}
